<html>
<head>
    <title>Kashflow - View, Export and Delete</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://localhost{{ app.request.basepath }}/../vendor/twitter/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>

<div class="container">

    <h3>Kashflow - View, Export and Delete your data</h3>