{% include 'header.html.twig' %}

<p>Use the menu below to view or export your data from Kashflow</p>

<h4>Customers</h4>

<a href="customers" class="btn btn-success">View Customers</a>
<a href="customers_export" class="btn btn-info">Export Customers as CSV</a>
<a href="customers_delete" class="btn btn-danger"
   onclick="return confirm('Are you absolutely sure?\nThis will delete ALL Customers.\nThere is no coming back from this.')">Delete all Customers</a>

<h4>Invoices</h4>

<a href="invoices" class="btn btn-success">View Invoices</a>
<a href="invoices_export" class="btn btn-info">Export Invoices as CSV</a>
<a href="invoices_export_pdfs" class="btn btn-info">Export Invoice PDFfiles</a>
<a href="invoices_delete" class="btn btn-danger" onclick="return confirm('Are you absolutely sure?\nThis will delete ALL Invoices.\nThere is no coming back from this.')">Delete all Invoices</a>

<h4>Payments</h4>

<a href="invoice_payments" class="btn btn-success">View Invoice Payments</a>
<a href="invoice_payments_export" class="btn btn-info">Export Invoice Payments as CSV</a>
<a href="invoice_payments_delete" class="btn btn-danger" onclick="return confirm('Are you absolutely sure?\nThis will delete ALL payments.\nThere is no coming back from this.')">Delete Invoice Payments</a>

<h4>Suppliers</h4>

<a href="suppliers" class="btn btn-success">View Suppliers</a>
<a href="suppliers_export" class="btn btn-info">Export Suppliers as CSV</a>

<h4>Quotes</h4>

<a href="quotes" class="btn btn-success">View Quotes</a>
<a href="quotes_export" class="btn btn-info">Export Quotes as CSV</a>
<a href="quotes_export_pdfs" class="btn btn-info">Export quote PDF files</a>
<a href="quotes_delete" class="btn btn-danger" onclick="return confirm('Are you absolutely sure?\nThis will delete ALL quotes.\nThere is no coming back from this.')">Delete Quotes</a>

{% include 'footer.html.twig' %}